{% extends "layout.html.twig" %}

{% block title 'Last 100 runs' %}

{% set menu_active = "run_list" %}

{% block content %}
    <h1>Last {{ runs|length }} runs</h1>
    {{ include('Run/_list.html.twig') }}
{% endblock %}

{% block angular %}
{% verbatim %}
    <h1>Last {{ runs.length }} runs</h1>
    <div ng-include="'/templates/_run_list.html'" />
{% endverbatim %}
{% endblock %}
